{% extends 'main/layout.html' %}

{% load static %}


 

{% block title %} aogu {% endblock %}

{% block content %}
<hr class="hr-three-color">
<section class="section">
    <div class="container">
        <li><a href="{% url 'register_student' %}">Register Student</a></li>
            <div class="card-list">
        <div class="card">
            <div class="title">
            <h2>Общая информация</h2>
            </div>
            <hr>
            <p>Университет АУНИГ был основан в 1959 году и является одним из лидеров в области высшего образования в Казахстане. Наш университет предоставляет широкий спектр программ обучения, включая бакалавриат, магистратуру, аспирантуру и MBA.</p>
            <p>Мы гордимся нашей репутацией высококачественного образования, отличными преподавателями и современными учебными программами, которые позволяют нашим студентам успешно развиваться в различных отраслях.</p>
        </div>
            <div class="card">
                <h2>Как поступить?</h2>
                <hr>
                <p>Для поступления в университет АУНИГ необходимо выполнить следующие шаги:</p>
                <ol>
                    <li>Зарегистрироваться на сайте университета и выбрать программу обучения</li>
                    <li>Подать заявку на поступление и приложить все необходимые документы</li>
                    <li>Пройти вступительные испытания и собеседование с преподавателями</li>
                    <li>Получить допуск на обучение и оформить документы на поступление</li>
                </ol>
                <p>Подробную информацию о процессе поступления и необходимых документах можно найти на нашем сайте.</p>
            </div>
    
            <div class="card">
                <h2>Программы обучения</h2>
                <hr>
                <p>Университет АУНИГ предлагает широкий выбор программ обучения в различных областях:</p>
                <ul>
                    <li>Разработка и эксплуатация нефтяных и газовых </li>
                    <li>Бурение и ремонт нефтяных и газовых скважин </li>
                    <li>Информационные технологии и программирование</li>
                    <li>Менеджмент нефтегазового бизнеса</li>
                    <li>Промышленное и гражданское строительство</li>
                    <li>И многие другие</li>
                </ul>
                <p>Мы постоянно обновляем и улучшаем наши программы обучения, чтобы наши студенты могли получать самое современное и востребованное образование.</p>
            </div>

            <div class="card">
                <h2>Контакты для связи</h2>
                <hr>
                <p>Если возникли какие-либо вопросы, то <a class="tg_bot" href="https://t.me/Chuhanio_BOT"> наш телеграм бот</a> вам помочь</p>
            </div>
        </div>
    </div>
</section>
<button><a href="{% url 'choice' %}">Подать документы</a></button>    
{% endblock %}